@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

:root {
	--ff-primary: "Google Sans", "Nunito", Helvetica, Arial, sans-serif;

	--clr-green-dark: hsl(144, 95%, 31%);
	--clr-green-light: hsl(from var(--clr-green-dark) h s 51%);
	--clr-pink-dark: hsl(294, 95%, 51%);
	--clr-pink-light: hsl(
		from var(--clr-pink-dark) calc(h - 1) calc(s + 3%) calc(l + 30%)
	);
	--clr-white: hsl(0, 0%, 96%);
	--clr-black: hsl(0, 0%, 5%);
	--clr-muted: hsl(0, 0%, 20%);

	--shadow-md: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 64px;
}

body {
	background-color: var(--clr-white);
	font-family: var(--ff-primary);
}

hr {
	border: none;
	background-color: var(--clr-pink-dark);
	height: 2px;
	width: 140px;
}
